.card
{
 height:100%;
  width:19vw;
  display: block;
 margin:0 auto;
  font-size: 16px;
  border:1px solid #eee;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
transition: transform 0.25s ease-out;
   border-radius: 5px;
   background-color: rgb(125, 223, 137);
   -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 4px rgba(0,0,0,0); 
   box-shadow: 0px 10px 13px -7px #000000, 0px 0px 8px 4px rgba(0,0,0,0);

   
}
.monsters
{
  background-color: rgb(125, 223, 137);
text-align: center;
 padding: 25px;
overflow: hidden;
width: 100%;
font-size: 12px;
}

.card:hover{
  transform: scale(1.05);
}

  .avatar {
  
    display: block;
    margin: 0 auto;
   width:100%;
    border-radius: 50%;
  }

.monsters h3
{
  background-color: rgb(214, 226, 104);
}

.monsters h4
{
  background-color: rgb(214, 226, 104);
}








@media(max-width:800px)
{
  
.monsters h3
{
background-color: rgb(125, 223, 137);
font-size: 8px;
}

.monsters h4
{
  background-color: rgb(125, 223, 137);
font-size: 8px;
}
}

